/*place global styles here */
html, body { @apply h-full; }

.footer-icons {
    width: 25px;
    height: 25px;
}

.project-card {
    border-radius: 0px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 1;
    text-align: center;
    padding: 1rem;
}